<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>badge</title>
</head><body>&lt;view class="discountBox"&gt;&lt;!-- discountBox start --&gt;<br/>
&nbsp; &nbsp; &lt;view&gt;最新优惠 &lt;mp-badge content="New" style="position: relative;top: -.4em;left: -.4em;"/&gt;&lt;/view&gt;<br/>
&nbsp; &lt;/view&gt;&lt;!-- discountBox end --&gt;<br/>
<br/>
<img src="screenshot.png" /><br/>
</body></html>