<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>scroll-view</title>
</head><body>&lt;view&gt; &lt;!-- scrool-veiw start 头部图片幻灯片--&gt;<br/>
&nbsp; &nbsp; &lt;scroll-view scroll-x="true" style=" white-space: nowrap; display: flex" &gt;<br/>
&nbsp; &nbsp; &nbsp; &lt;view style="background: gray; width: 360px; height: 240px; display: inline-block" bindtap="pressScroll" &gt;<ul><li style="list-style-type: none"><ul><li style="list-style-type: none">&lt;image src="/image/logo.png"&gt;&lt;/image&gt;</li>
</ul>
</li>
</ul>
&nbsp; &nbsp; &nbsp; &lt;/view&gt;<br/>
&nbsp; &nbsp; &nbsp; &lt;view style="background: green; width: 360px; height: 240px; display: inline-block"&gt;&lt;/view&gt;<br/>
&nbsp; &nbsp; &nbsp; &lt;view style="background: blue; width: 360px; height: 240px; display: inline-block"&gt;&lt;/view&gt;<br/>
&nbsp; &nbsp; &nbsp; &lt;view style="background: yellow; width: 360px; height: 240px; display: inline-block"&gt;&lt;/view&gt;<br/>
&nbsp; &nbsp; &lt;/scroll-view&gt; <br/>
&nbsp; &lt;/view&gt;&lt;!-- scroll-view end --&gt;<br/>
<br/>
<img src="screenshot.png" /><br/>
<br/>
<br/>
</body></html>